// colors
$accentColor = #1199fa
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #0b1426
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight ?= 4rem
$sidebarWidth ?= 20rem
$contentWidth ?= 740px
$homePageWidth ?= 960px

// responsive breakpoints
$MQWide ?= 1376px
$MQNarrow ?= 1100px
$MQMobile ?= 900px
$MQMobileNarrow ?= 600px

// code
$lineNumbersWrapperWidth ?= 3.5rem
$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
